$white: #fff;
$black: #282828;
$green: #393;
$red: #f00;

$rem-size: 16;
$space-step-size: 8;

$font-family: 'Montserrat';
$font-weights: (
  'light': 400,
  'regular': 500,
  'medium': 600,
  'semiBold': 700,
);
