$white: #fff;
$black: #282828;
$green: #339933;
$red: #ff0000;
$grey-1: #f1f3f4;
$grey-2: #ddd;
$grey-3: #8b8b8b;

$rem-size: 16;
$space-step-size: 8;

$font-family: Montserrat;
$font-weights: (
  light: 400,
  regular: 500,
  medium: 600,
  semiBold: 700,
);
