@use "sass:color";
@import "./vars.scss";
@import "./mixins.scss";
@import "./utils.scss";
@import "./tailwind.scss";

:root {
  --color-black: #{$black};
  --color-white: #{$white};
  --color-red: #{$red};
  --color-green: #{color.scale($green, $lightness: 15%)};

  --color-primary: #{$green};
  --color-success: var(--color-green);
  --color-error: #{--color-red};
  --color-text: #{--color-black};
  --color-divider: #{$grey-2};
  --color-veil: #{color.scale($black, $alpha: -60%)};
  --color-quiet: #{$grey-3};
  --color-subbtle: #{$grey-1};

  --space-step: #{px-to-rem($space-step-size)};
}

@each $name, $weight in $font-weights {
  $font-modif-name: capitalize-first($name);
  @include font-face(
    $font-family,
    "~@assets/fonts/#{$font-family}-#{$font-modif-name}",
    $weight
  );
}

body {
  font-family: $font-family;
  color: var(--color-text);
  @apply text-base;
}
