@use 'sass:color';
@import './vars';
@import './mixins';
@import './utils';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #{$black};
  --color-white: #{$white};
  --color-green: #{color.scale($green, $lightness: 15%)};
  --color-red: #{$red};

  --color-primary: #{$green};
  --color-success: var(--color-green);
  --color-error: var(--color-red);
  --color-outline: #ddd;
  --color-veil: #{color.scale($black, $alpha: -60%)};
  --color-quiet: #8b8b8b;
  --color-subtle: #f1f3f4;

  --space-step: #{px-to-rem($space-step-size)};
}

@each $name, $weight in $font-weights {
  $font-modif-name: capitalize-first($name);

  @include font-face(
    $font-family,
    '~@assets/fonts/#{$font-family}-#{$font-modif-name}',
    $weight
  );
}

html {
  font-size: #{$rem-size}px;
}

body {
  @apply font-sans text-base text-black;

  margin-inline: auto;
  width: 90rem;
}
